.related-content {
    background-color: $theme-base-2;
    border-radius: $component-border-radius;
    display: flex;
    flex-wrap: wrap;
    margin: $space-stack-xl;
    padding: $space-inset-squish-l;
}
